table {
  width: 100%;
}
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
td, th {
  width: 25%;
}
.example-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
